body {
  background-color: #111;
  margin: 0;
  overflow: hidden;
}

p  {
  margin: 0;
}

video {
  display: block;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
}

.displayTopRight {
  position: fixed;
  padding: 15px;
  top: 10px;
  right: 0px;
  font-size: 26px;
  background-color: white;
  opacity: 0.5;
  display: none;
}

.controlsleft {
  position: fixed;
  padding: 15px;
  bottom: 0px;
  left: 0px;
}

.controlscenter {
  position: fixed;
  padding: 15px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.controlsright {
  position: fixed;
  padding: 15px;
  bottom: 0px;
  right: 0px;
}

.quadbutton {
  cursor: pointer;
  color: white;
  font-size: 22pt;
  padding: 3px;
  opacity: 0.2;
  transition: transform 45ms ease-in, opacity 0.5s;
  user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}

.quadNotMobile {
  opacity: 1;
}

.quadbutton:active {
  transform: scale(0.9, 0.9);
  opacity: 1;
}

.quadbutton:hover {
  transform: scale(1.1, 1.1);
  opacity: 0.8;
}

.quadbutton:active.fa-flip-horizontal {
  transform: scale(-0.9, 0.9);
  opacity: 1;
}

.quadbutton:hover.fa-flip-horizontal {
  transform: scale(-1.1, 1.1);
  opacity: 0.8;
}

.fa-play {
  margin-right: 1.719px;
}

.is-hidden {
  visibility: hidden;
}

.is-visible {
  opacity: 1;
  animation: appear 85ms;
  -webkit-animation: appear 85ms;
}

#tooltip {
  position: fixed;
  color: #555;
  padding: 5px;
  border-radius: 5px;
  bottom: 55px;
  background-color: white;
  box-shadow: 0px 0px 3px #111;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  max-width: 30%;
  font-size: 14pt;
}

.progressbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  z-index: 1;
}

.progressbar:hover .progress {
  height: 10px;
}

.progress {
  position: absolute;
  width: 100%;
  height: 2px;
  transition: height 0.1s ease-out, width 0.4s linear, background-color 0.5s ease-out;
}

.progress #bufferprogress {
  background: #CCC;
}

.progress #timeprogress {
  background: #E54B00;
}

.progress:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
